<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Template Design by TheWebhub.com | http://www.thewebhub.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MFA Service Demo</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<script type="text/javascript" src="auth.js"></script>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="header">
	<h1>Profile Access Portal</h1>
</div>
<div id="menu">
	<ul>
		<li class="first"><a href="#">Home</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
</div>
<div id="page">
	<div id="page-top">
		<div id="page-bottom">
		<div>
			<div id="sidebar">
				<h2>News and Updates</h2>
				<ul>
					<li>Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl.</li>
					<li>Nullam non wisi a sem semper eleifend. Donec mattis libero eget urna. Duis pretium velit ac mauris. Proin eu wisi suscipit nulla suscipit interdum.</li>
				</ul>
			</div>
			<div id="content">
				<h2>Please authenticate as instructed below:</h2>
					<form action="mfaAuth" method="post" name="authForm">
					<ul>
						<li>Enter your password <input type="password" name="password" /></li>
						<li>Enter the token emailed to you <input name="token" type="text" /></li>
						<li><input type="button" value="submit" onClick="submitForm()" /></li>
						
						<input type="hidden" name="salt" value="$salt" />
						<input type="hidden" name="requestId" value="$requestId" />	
					</ul>
					</form>
			</div>
		</div>
		<div style="clear: both;">&nbsp;</div>
	</div>
	</div>
</div>
<div id="footer">
	<p>Copyright © 2006 Sitename.com. Template Designed by <a href="http://www.thewebhub.com">TheWebHub.com</a>.</p>
</div>
</body>
</html>