<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Please Login here</title>
</head>
<body>
	<form action="mfaAuth" method="post">
		Enter your password <input type="password" name="password" >
		
		<input type="hidden" name="salt" value="$salt" />
		<input type="hidden" name="requestId" value="$requestId" />
		After you hit the submit button , you will receive a phone call on the mobile number you registered with us.
		<input type="submit" value="submit" />
	</form>
</body>
</html>